nav{
    background-color: black;
    padding: 15px 25px; 
    box-shadow: 0 0 5px 3px rgb(0, 0, 0,0.5 ) ;
}
body{
    background-image: url(Asus.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.Title{
    display: inline-block   ;
    margin: 0;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: -15px;
    left: 15px;
    font-size: 30px;
}
.links-container{
    float: right;
    position: relative;
    top: 15px;
}
.logo{
    display: inline-block;
}
.links{
    color: rgb(255, 255, 255);
    text-decoration: none   ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 15px ;
    transition: 0.5s;
}
.links:hover{
    color: rgb(7, 188, 243);
}
.btn-links{
    background-color: rgb(7,188,243);
    padding:10px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none   ;
    border-radius: 25px;
    color: white;
    transition: 0.5s;
}
.btn-links:hover{
    padding: 10px 30px;
}
