body{
    background-color: rgb(255, 255, 255) ;
    margin: 0;
}
nav{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
     left: 0;
     background-color: rgb(22, 30, 73);
     border-top-right-radius: 25px;
     border-bottom-right-radius: 25px;
     box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}
.brand-container{
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px 0;
}
.brand-title{
    margin: 0;
    margin-top: 5px;
}
.links{
    display: block;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.2s;

}
.links:hover{
    background-color: white;
    color: black;
}
.profile-container{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
    margin: 0;
    padding: 15px;
    position: absolute;
    bottom: 0;
}
.main-container{
    margin-left: 310px;
}
#dashboard{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif    ;
    font-size: 20px;
    
}